POSTGRES_DB=DB_name
POSTGRES_USER=DB_user
POSTGRES_PASSWORD=DB_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=secret_key
DEBUG=False
ALLOWED_HOSTS=your_hosts
USE_SQLITE=False 

DOCKER_USERNAME=docker_username
CSRF_TRUSTED_ORIGINS=https://your_host